ion-toolbar{
    
    color: black;
}

.cappaccino{
    text-align: center;
    background-color: goldenrod;

}

ion-card{
    text-align: center;
    color: goldenrod
}
ion-title{
    text-align: center;
}