<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    COFFEE BOOTH
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background-image">
  <div class="primary">
  <h1>Order your choice of Coffee and enjoy</h1>
    <img src="assets/cap2.jpg" alt="Trulli" width="200" height="100">

  <br>
    <ion-button color="primary"  href="cappuccino">CAPPUCCINO from R25</ion-button>
    <br>
    <br>
    <img src="assets/lat.jpg" alt="Trulli" width="200" height="100">
<br>
  <ion-button color="primary" href="latte">LATTE from R30</ion-button>
  <br>
  <br>
  <img src="assets/Espresso.jpg" alt="Trulli" width="200" height="100">
<br>
  <ion-button color="primary" href="espresso">ESPRESSO from R20</ion-button>
</div>
</ion-content>
